<p class="h2">
    <span class="font-weight-bold">Thank you</span> for downloading KiCad!
</p>
<p>If the download doesn't start in a few seconds, please <a href="#" class="backup-link">click here</a> to start the download.</p>

<iframe src="https://donate.kicad.org/?location={{ .Page.Permalink }}" style="border: 0px; width: 100%; height: 600px;"></iframe>